a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: rgb(16, 16, 29);
    overflow-y: hidden;
}

.all {
    margin-top: -280px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: azure;
}

p {
    font-size: 70px;
    margin-top: -19px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.cont {
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:200px) {
    .cont {
        min-width: 200px;
        position: absolute;
        display: flex;
    }
}




@media screen and (max-width:1200px) {
    .cont {
        position: absolute;
        min-width: 1200px;
        display: flex;
        flex-direction: column;
    }
}


option {
    font-size: 25px;
}

.js-select-operation {
    background-color: azure;
    color: rgb(2, 2, 14);
    font-size: 40px;
}

.js-input-a {
    color: rgb(2, 2, 14);
    font-size: 50px;
    background-color: azure;
}



.js-input-b {
    color: rgb(16, 16, 29);
    background-color: azure;
    font-size: 50px;
}


.js-btn-result {
    height: 50px;

    color: azure;
    font-size: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(16, 16, 29);
}


.calc {
    font-size: 350px;
    color: azure;
    margin-right: auto;
}






.dark-moon {
    fill: azure;
    cursor: pointer;
}